.encabezado{
  background-color: #403F3F;
  height: 20%;
  display: flex;
  width: 100%;
  flex-direction: column;
}

nav{
  /* display: flex; */
}

a{
  list-style: none;
  text-decoration: none;
  /* position: relative; */
  color: #A7A7A7;
  width: 20px;
  height: auto;
}
